@media screen and (max-width:500px){
    header .container{
    display: flex;
    flex-direction: column;

    }
    .botao{
        margin: 5px;
        width: 300px;
    }
    
}

@media screen and (max-width:450px){
    .descricao{
        font-size: 15px;
        width: 100%;
    }
    .titulo{
        font-size: 30px;
    }
}

.carosel-filmes{
    margin-top: 10px;
}